
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
  font-family:'Montserrat', sans-serif;
  background-color: #a6e760;
  color: #fff;
}
body{
  height: 100vh;
}

/* HEADER SECTION */

.header-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  margin: 2rem 3rem 2rem;
}
.title-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}
h1{
  font-size: 10rem;
}
.title-info{
  font-size: 2.7rem;
}
.score-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.score-container p{
  font-size: 2.9rem;
  margin-bottom:1rem;
}
#score, #best-score{
  font-size: 8rem;
  border: 0.5rem solid #fff;
  padding: 1rem 7rem;
  border-radius: 4rem;
  color: #FFB85C;
  background: #fff;
}
button {
  font-size: 3rem;
  border-radius: 5rem;
  padding: 2rem;
  border: .7rem solid #fff;
  cursor: pointer;
}




/* GAME BOARD */

#game {
 display: grid;
 grid-template-columns: repeat(6, 1fr);
 gap: 1rem;
 width: 800px;
 margin: auto;
 height: auto;
 justify-content: center;
}
.queen-container {
  width: 150px;
  height: 150px;
  cursor: pointer;
  border-radius: 2rem;
  position: relative;
  border: 2px solid #f5f1fe;
}
img, .front {
  width: 100%;
  height: 100%;
  border-radius: 2rem;
  position: absolute;

}
.front {
background-color: #FFB85C;
}