
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
  font-family:'Montserrat', sans-serif;
  background-color: #a6e760;
  color: #fff;
}


/* HEADER SECTION */

.header-titles {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 8rem;
}
h1{
  font-size: 10rem;
}

button {
  font-size: 3rem;
  border-radius: 5rem;
  padding: 2rem;
  border: .7rem solid #fff;
  cursor: pointer;
}
#score, #best-score{
  font-size: 8rem;
  border: 0.5rem solid #fff;
  padding: 1rem 7rem;
  border-radius: 4rem;
  color: #FFB85C;
  background: #fff;
}
.header-labels{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  font-size: 4rem;
  margin-top: .8rem;
}
.header-labels p:nth-child(2) {
  margin-right: 26rem;
}
.header-labels p:nth-child(3) {
  margin-right: 26rem;
}
/* GAME BOARD */

#game {
 display: grid;
 grid-template-columns: repeat(6, 1fr);
 gap: 3rem;
 max-width: 960px;
 margin: 4rem auto;
 justify-content: center;
}
.queen-container {
  width: 200px;
  height: 200px;
  cursor: pointer;
  border-radius: 2rem;
  position: relative;
  border: 2px solid #f5f1fe;
}
img, .front {
  width: 100%;
  height: 100%;
  border-radius: 2rem;
  position: absolute;

}
.front {
background-color: #FFB85C;
}